label {
    width: 100%;
}

.card_input {
    width: 95%;
    margin: auto;
    background-color: white;
    display: flex;
    border: 2px solid white;
    padding: 5px 10px;
}


.card_input:hover {
    cursor: pointer;
}

.card_input_element {
    display: none;
}

.card_input_element:checked+.card_input {
    border: 2px solid green;
    background-color: rgb(215, 255, 215);
}