.input {
    background-color: white;
    border: none;
    padding: 15px 10px;
    outline: none;
    width: 100%;
    margin: 10px 0;
    box-sizing: border-box;
    font-size: 0.9rem;
    border-radius: 5px;
}



.textarea {
    min-height: 100px;
}


.password {
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    background-color: white;
    border: none;
    padding: 5px 10px;
    outline: none;
    width: 100%;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 5px;
}

.password input {
    border: none;
    padding: 10px 0;
    width: 90%;
    outline: none;
    font-size: 0.9rem;
    background-color: white;
}