.dish_details {
    width: 100%;
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
}

.dish_holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dish_details {
    background-color: white;
    height: fit-content;
    padding-bottom: 10px;
}

.dish_details .product_image {
    width: 100px;
    height: 100px;
    background-color: rgb(191, 191, 191);
    padding: 2px;
    border-radius: 10px;
}


@media screen and (min-width:600px) {

    .product_holder {
        margin-top: 100px;
        flex-direction: row;
    }

    .dish_details {
        width: 70%;
    }

}


@media screen and (min-width:900px) {

    .product_holder {
        margin-top: 100px;
        flex-direction: row;
    }

    .dish_details {
        width: 50%;
    }

}