.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    text-transform: capitalize;
    border: none;
    cursor: pointer;
    width: fit-content;
    font-weight: 400;
    border-radius: 5px;
    color: white;
    padding: 12px 20px;
    z-index: 0;
    background-color: grey;
    border: 1px solid grey;
}



.primary {
    background-color: #7B68EE;
    border: 1px solid #7B68EE;
}

.green {
    background-color: rgb(0, 183, 0);
    border: 1px solid rgb(0, 183, 0);
}

.dodgerblue {
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
}

.white {
    background-color: white;
    color: black;
    border: 1px solid black;
}


.dark {
    background-color: black;
    border: 1px solid black;
}

.danger {
    background-color: tomato;
    border: 1px solid tomato;
}

.blue {
    background-color: #7B68EE;
    border: 1px solid #7B68EE;
}

.red {
    background-color: red;
    border: 1px solid red;
}

.remove {
    text-transform: uppercase;
    background-color: white;
    color: black;
    font-weight: bold;
    border: 1px solid black;
    font-size: 1.1rem;
    padding: 5px;
}

.tomato {
    text-transform: uppercase;
    background-color: tomato;
    color: white;
    font-weight: bold;
    border: 1px solid tomato;
    font-size: 1.1rem;
    padding: 5px;
    transform: rotate3d(90);
}

.orange {
    background-color: tomato;
    border: 1px solid tomato;
}