.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    text-transform: capitalize;
    border: none;
    cursor: pointer;
    width: fit-content;
    font-weight: 400;
    border-radius: 5px;
    color: white;
    padding: 12px 20px;
    z-index: 0;
    background-color: grey;
    width: 100%;
}



.primary {
    background-color: #7B68EE;
}

.green {
    background-color: rgb(0, 183, 0);
}

.dodgerblue {
    background-color: dodgerblue;
}

.white {
    background-color: white;
    color: black;
    border: 1px solid black;
}


.dark {
    background-color: black;
}

.danger {
    background-color: tomato;
}

.blue {
    background-color: #7B68EE;
}

.red {
    background-color: red;
}