.font_size {
    width: fit-content;
    color: rgb(0, 0, 0);
    font-weight: normal;
    text-transform: capitalize;
    text-align: start;
    margin: 0;
}

.s1 {
    font-size: 4rem;
    font-weight: bold;
}

.s2 {
    font-size: 2.3rem;
    font-weight: bold;
}

.s3 {
    font-size: 1.7rem;
    font-weight: bold;
}


.s4 {
    font-size: 1.1rem;
    font-weight: 500;
    overflow: hidden;
}

.s5 {
    font-size: 1rem;
    overflow: hidden;
}

.s6 {
    font-size: 0.8rem;
    overflow: hidden;
}

.s7 {
    font-size: 0.7rem;
    overflow: hidden;
}



@media screen and (min-width:576px) {
    .s1 {
        font-size: 4rem;
    }

    .s2 {
        font-size: 2.3rem;
    }

    .s3 {
        font-size: 1.7rem;
    }


    .s4 {
        font-size: 1.2rem;

    }

    .s5 {
        font-size: 1.1rem;
    }

    .s6 {
        font-size: 0.9rem;
    }

    .s7 {
        font-size: 0.7.5rem;
    }
}


@media screen and (min-width:768px) {
    .s1 {
        font-size: 4rem;
    }

    .s2 {
        font-size: 2.3rem;
    }

    .s3 {
        font-size: 1.7rem;
    }


    .s4 {
        font-size: 1.3rem;

    }

    .s5 {
        font-size: 1.2rem;
    }

    .s6 {
        font-size: 1rem;
    }

    .s7 {
        font-size: 0.8rem;
    }

}

@media screen and (min-width:992px) {
    .s1 {
        font-size: 4rem;
    }

    .s2 {
        font-size: 2.3rem;
    }

    .s3 {
        font-size: 1.7rem;
    }


    .s4 {
        font-size: 1.4rem;

    }

    .s5 {
        font-size: 1.3rem;
    }

    .s6 {
        font-size: 1.1rem;
    }

    .s7 {
        font-size: 0.85rem;
    }

}

@media screen and (min-width:1200px) {
    .s1 {
        font-size: 4rem;
    }

    .s2 {
        font-size: 2.3rem;
    }

    .s3 {
        font-size: 1.7rem;
    }


    .s4 {
        font-size: 1.5rem;

    }

    .s5 {
        font-size: 1.4rem;
    }

    .s6 {
        font-size: 1.2rem;
    }

    .s7 {
        font-size: 0.9rem;
    }
}