.grid {
    width: 100%;
    margin: auto;
    display: grid;
    background-color: white;
    grid-template-columns: auto auto;
    overflow: hidden;
}



@media screen and (min-width: 481px) {

    .grid {

        grid-template-columns: auto auto;
        grid-gap: 40px;
    }

}


@media screen and (min-width: 881px) {

    .grid {

        grid-template-columns: auto auto auto;
        grid-gap: 60px;

    }

}



@media screen and (min-width: 1081px) {

    .grid {

        grid-template-columns: auto auto auto auto;
        grid-gap: 100px;

    }

}


@media screen and (min-width: 1581px) {

    .grid {

        grid-template-columns: auto auto auto auto;
        grid-gap: 100px;

    }

}