.cart {
    padding-top: 60px;
    padding-bottom: 140px;
}


.emptyCart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.emptyCart i {
    color: #959595;
    font-size: 4rem;
    margin: 10px;
}

.emptyCart h4 {
    font-size: 1rem;
    margin: 10px;
}

.emptyCart button {
    background-color: rgb(7, 182, 74);
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
}

.check_out {
    width: 100%;
    position: fixed;
    bottom: 0;
    margin-bottom: 58px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}