.card {
    height: fit-content;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 10px 5px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    flex-direction: row;
}