.auth {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.auth_container {
    width: 100%;
    padding: 10px;
}

.close_auth {
    display: none;
}

@media screen and (min-width:600px) {
    .auth {
        background-color: rgba(0, 0, 0, 0.855);
    }

    .auth_container {
        width: 500px;
        padding: 50px;
        background-color: rgb(244, 244, 244);
    }

    .close_auth {
        display: block;
    }
}