.product_details {
    width: 100%;
    margin-top: 0;
    margin-bottom: 70px;
}

.product_holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product_holder .product_items {
    width: 100%;
    padding: 20px;
}

.product_holder img {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


@media screen and (min-width:600px) {

    .product_holder {
        margin-top: 100px;
        flex-direction: row;
    }



    .product_holder img {
        width: 60%;
    }

}