.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_input {
  width: fit-content;
  height: inherit;
  background-color: rgb(237, 237, 237);
  padding: 12px;
  border-radius: 6px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.search_input input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1rem;
  background-color: rgb(237, 237, 237);
  outline: none;
}

.search_input input::placeholder {
  color: rgb(63, 63, 63);
}

.searchResult {
  position: fixed;
  background-color: white;
  z-index: 100;
  width: 100%;
  height: 70vh;
  left: 0;
  top: 60px;
  overflow-y: scroll;
}

.search_input i {
  color: green;
  margin: 0 10px;
}