.header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.header i {
  font-size: 2rem;
  margin: 20px;
}



@media screen and (min-width:600px) {

  .header {
    display: none;
  }

}