.bottom-nav {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.bottom-nav .btn-tab {
  flex: 1;
  text-align: center;
  width: 100%;
  height: 60px;
  background-color: white;
  position: relative;
}

.bottom-nav h6 {
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.bottom-nav .icon-active {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  height: 60px;

}

.bottom-nav .icon-active i {
  color: #7B68EE;
  font-size: 1.4rem;
  margin-top: 8px;

}

.bottom-nav .icon-active h6 {
  font-size: 0.9rem;
  margin-bottom: 5px;
  color: #7B68EE;
}

.bottom-nav .icon-not-active {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  height: 60px;


}


.bottom-nav .icon-not-active i {
  color: grey;
  font-size: 1.3rem;
  margin-top: 8px;
}

.bottom-nav .icon-not-active h6 {
  font-size: 0.9rem;
  margin-bottom: 5px;
  color: grey;
}

@media screen and (min-width:800px) {

  .bottom-nav {
    display: none;
  }


}