.bottom-nav {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.bottom-nav .btn-tab {
  flex: 1;
  text-align: center;
  width: 100%;
  height: 60px;
  background-color: white;
}

.bottom-nav .icon-active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;

}

.bottom-nav .icon-active i {
  color: #7B68EE;
  font-size: 1.5rem;

}

.bottom-nav .icon-not-active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;

}


.bottom-nav .icon-not-active {
  color: grey;
  font-size: 1.2rem;
}


@media screen and (min-width:800px) {

  .bottom-nav {
    display: none;
  }


}