.user_address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

    width: 100%;
}

.user_address i {
    font-size: 5rem;
    color: rgb(9, 165, 4);
    margin: 20px 0;
}

.user_address .empty_address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
}