.categories {
    padding-bottom: 50px;
    margin-top: 70px;
}


.categories .categories_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: white;
    width: 100%;
    padding: 7px;
}

@media screen and (max-width:600px) {



    .categories .nav_small {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px;

    }

}