.create_address {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 20px 10px;
}

@media screen and (min-width:400px) {

    .create_address {
        width: 95%;
    }
}

@media screen and (min-width:600px) {

    .create_address {
        width: 85%;
    }
}

@media screen and (min-width:800px) {

    .create_address {
        width: 70%;
    }
}

@media screen and (min-width:1000px) {

    .create_address {
        width: 50%;
    }
}